<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/apply_leave.css') }}">
    <script defer src="https://unpkg.com/alpinejs@3.10.5/dist/cdn.min.js"></script>
    <script src="{{url_for('static',path='/js/forgot_password.js')}}"></script>
    <script src="{{url_for('static',path='/js/varval.js')}}"></script>
<script type="text/javascript">
    API_URL = "{{API_URL}}"
    APP_URL = "{{APP_URL}}"
  </script>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <ul class="nav-list">
                <li><a href="" class="nav-link">Home</a></li>
                <li><a href="" class="nav-link">Apply Leave</a></li>
                <li><a href="" class="nav-link">My Leaves</a></li>
            </ul>
        </div>
    </nav>
    <div class="container mt-3">
        <section class = 'auth' x-data="userForgotPassword()">
            <div x-show="isLoading" class="loader-overlay">
                <div class="loader"></div>
            </div>
            <h1> Forgot Password </h1> 
            <br>  
            <form action="/" method="post" @submit.prevent="submitForm()">  
                <div class="container">   
                    <label>Email : </label> 
                    <input type="text" placeholder="Enter Email" name="email" x-model="user.email" required>  

                    <button type="submit">Send Email</button>   
                </div>   
            </form>  
            <div x-show="isModalOpen" x-transition:enter="transition ease-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition ease-in duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0" class="fixed inset-0 z-50 overflow-auto bg-black bg-opacity-50" style="display:none;">
                <div class="flex items-center justify-center min-h-screen">
                    <div class="bg-white p-8 rounded shadow-md">
                        <h2 class="text-2xl font-semibold mb-4">Success!</h2>
                        <p>Reset password details has been mailed to the user </p>
                        <button @click="closeModal" class="mt-4 bg-blue-500 text-white px-4 py-2 rounded">Close</button>
                    </div>
                </div>
            </div>   
        </section>
    </div>
</body>
</html>